<form action="new-item" method="post">
  <label for="name" class="form-label mt-3">Name</label>
  <input
    type="text"
    name="name"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <label for="category" class="form-label mt-1">Category</label>
  <input
    type="text"
    name="category"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <label for="status" class="form-label mt-1">Status</label>
  <input
    type="text"
    name="status"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <label for="type" class="form-label mt-1">Type</label>
  <input
    type="text"
    name="type"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <label for="stage" class="form-label mt-1">Stage</label>
  <input
    type="text"
    name="stage"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <label for="start" class="form-label mt-1">Start At</label>
  <input
    type="datetime-local"
    name="start"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <label for="time" class="form-label mt-1">Maximum Time</label>
  <input
    type="text"
    name="time"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <label for="participant" class="form-label mt-1">Maximum Participant</label>
  <input
    type="text"
    name="participant"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <input type="submit" value="Add" class="btn btn-primary mt-3" />
</form>
<div id="passwordHelpBlock" class="form-text">Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Facilis optio vel reprehenderit vitae amet quia
  fugiat quae, excepturi culpa doloribus.
</div>