<form action="new-category" method="post">
  <label for="position" class="form-label mt-5">Position</label>
  <input
    type="text"
    id="position"
    name="position"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <label for="grade" class="form-label mt-2">Grade</label>
  <input
    type="text"
    id="grade"
    name="grade"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <label for="point" class="form-label mt-2">Point</label>
  <input
    type="text"
    id="point"
    name="point"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <input type="submit" value="Add" class="btn btn-primary mt-3" />
</form>
<div id="passwordHelpBlock" class="form-text">Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Facilis optio vel reprehenderit vitae amet quia
  fugiat quae, excepturi culpa doloribus.
</div>