<form action="new-student" method="post">
  <input
    type="text"
    name="schoolId"
    value="{{id}}"
    hidden
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <label for="name" class="form-label mt-3">Name</label>
  <input
    type="text"
    name="name"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <label for="category" class="form-label mt-3">Category</label>
  <input
    type="text"
    name="category"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <label for="item1" class="form-label mt-3">Item 1</label>
  <input
    type="text"
    name="item1"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <label for="item2" class="form-label mt-3">Item 2</label>
  <input
    type="text"
    name="item2"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />
  <label for="item3" class="form-label mt-3">Item 3</label>
  <input
    type="text"
    name="item3"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  />

  <input type="submit" value="Add" class="btn btn-primary mt-3" />
</form>
<div id="passwordHelpBlock" class="form-text">Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Facilis optio vel reprehenderit vitae amet quia
  fugiat quae, excepturi culpa doloribus.
</div>